<section id="experience">
  <p class="section__text__p1">Explore My</p>
  <h1 class="title">Experience</h1>

  <div class="experience-details-container">
    <div class="about-containers about__container">
      <div class="details-container">
        <h2 class="experience-sub-title">Front End Development</h2>
        <div class="article-container">
          <article>
            <img
              src="../../assets/checkmark.png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              HTML
              <p>Experienced</p>
            </div>
          </article>
          <article>
            <img
              src="../../assets/checkmark.png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              CSS
              <p>Experienced</p>
            </div>
          </article>
          <article>
            <img
              src="../../assets/checkmark.png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              JavaScript

              <p>Intermediate</p>
            </div>
          </article>
          <article>
            <img
              src="../../assets/checkmark.png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              TypeScript

              <p>Intermediate</p>
            </div>
          </article>
          <article>
            <img
              src="../../assets/checkmark.png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              Angular

              <p>Intermediate</p>
            </div>
          </article>
          <article>
            <img
              src="../../assets/checkmark.png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              Material UI

              <p>Basic</p>
            </div>
          </article>
        </div>
      </div>
      <div class="details-container">
        <h2 class="experience-sub-title">Back End Development</h2>
        <div class="article-container">
          <article>
            <img
              src="../../assets/checkmark.png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              MySQL

              <p>Experienced</p>
            </div>
          </article>
          <article>
            <img
              src="../../assets/checkmark.png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              Java

              <p>Experienced</p>
            </div>
          </article>
          <article>
            <img
              src="../../assets/checkmark.png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              Springboot

              <p>Intermediate</p>
            </div>
          </article>
          <article>
            <img
              src="../../assets/checkmark.png"
              alt="Experience icon"
              class="icon"
            />
            <div>
              Git

              <p>Experinced</p>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>

  <a href="#projects">
    <img src="../../assets/arrow.png" alt="arrow icon" class="icon arrow" />
  </a>
</section>
